
body {
    font-family: 'Comfortaa';
    background-color: #c1d9f6;
    padding: 20px;
    }

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.button {
    display: block;
    padding: 5px;
    font-size: 20px;
    color: black;
    text-decoration: dashed;
}

.text-title{
    padding-left: 10px;
}